

.navbar {
  height: 50px;
  background: var(--backDark);
}

ul {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}

li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#link-tag {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: var(--textBlack);
}

#link-tag:hover{
  color: var(--hover);
  
}
