.signup-container{
  /* margin-top: 60px; */
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--backDark);
}
.container {
  max-width: 800px;
  width: 100%;
  padding: 25px 30px;
  background: var(--white);
  border-radius: 5px;
}

.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: var(--backDark);
}

.container form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box {
  margin-bottom: 10px;
  width: calc(100% / 2 - 20px);
}

.user-details .input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input {
  outline: none;
  border: 3px solid #ccc;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 15px;
  transition: all 0.3s ease;
  width: 100%;
  height: 45px;
}

.user-details .input-box input:focus {
  border-color: var(--backDark);
}

form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
}

form .gender-details .category {
  display: flex;
  justify-content: flex-start;
  width: 80%;
  margin: 15px 10px;
}

.gender-details .category label {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.gender-details .category .dot {
  height: 18px;
  width: 18px;
  background: #d9d9d9;
  border-radius: 50%;
  margin-right: 10px;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked~.category label .one,
#dot-2:checked~.category label .two,
#dot-3:checked~.category label .three {
  border-color: #d9d9d9;
  background: var(--backDark);
}

form input[type="radio"] {
  display: none;
}

.container-2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

form .signup-button {
  height: 45px;
  width: 45px 0;
}

form .signup-button input {
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 5px;
  background: var(--backDark)
}

form .signup-button input:hover{
  background: var(--backDark);
}

@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }

  .container form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }

  .container form .container-2 {
    max-height: 300px;
    overflow-y: scroll;
  }

  .user-details::-webkit-scrollbar {
    width: 0px;
  }

  form .user-details .input-box {
    mask-border: 15px;
    width: 100%;
  }

  form .gender-details .category {
    width: 100%;
  }
}