.user-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 3px solid red; */
  background-color: var(--whiteBack);
}
.search-container{
  width: 100%;
  margin-top: 20px;
  /* margin-right: 60px; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 10px;
  /* border: 3px solid red; */
}

.search-bar{
  padding: 10px;
  border: 3px solid var(--green);
  border-radius: 10px;
  margin-right: 30px;
}

.add-btn{
  max-width: 80px;
  width: 100%;
  font-weight: 800;
  border: none;
  color: white;
  background: var(--backDark);
  border-radius: 10px;
  margin-right: 30px;
}
.filter-data{
  background-color: var(--backDark);
  border: none;
  border-radius: 10px;
  width: 90px;
  color: var(--whiteBack);
  padding: 8px;
  font-weight: 700;
  margin-right: 20px;
}
.button{
  border: none;
  background: var(--backDark);
  border-radius: 5px;
  width: 100%;
  max-width: 70px;
  margin-left: 5px;
  margin-bottom: 5px;
  padding: 5px;
  color: var(--whiteBack);
}
.act-button{
  border: none;
  background: var(--backDark);
  border-radius: 5px;
  width: 100%;
  max-width: 70px;
  margin-left: 5px;
  margin-bottom: 5px;
  padding: 5px;
  color: var(--whiteBack);
}
.status-button{
  border: none;
  background: var(--backDark);
  border-radius: 5px;
  width: 100%;
  max-width: 90px;
  margin-left: 5px;
  padding: 5px;
  color: var(--whiteBack);
}

/*Table CSS*/
.table-data{
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 1200px;
  width: 100%;
  text-align: center;
}
.table-data th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: var(--backDark);
  color: white
}
.table-data td, .table-data th {
  /* border: 1px solid #ddd; */
  padding: 8px;
  /* border-radius: 10px; */

}
.table-data tr:nth-child(odd){background-color: #f2f2f2;}

