@import url("https://fonts.googleapis.com/css2?family=League+Spartan&family=Poppins:wght@300;400&display=swap");

:root {
  /* --green: #084c53; */
  --whiteBack: #ccc;
  --white: #ffffff;
  --green: #205d42;

  --backDark: #084c53;
  --backLight: white;
  --textBlack: black;
  --hover: #0e636d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: auto;
  background: var(--white);
  /* border: 3px solid red; */
}

